/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin: 0;
	background-image: url(depositphotos_2614484-stock-photo-old-style-grunge-background.jpg);


.position-container{

display: flex;
justify-content: center;
margin-top: 25vh;

	.container{
		border: 2px solid black;
		box-shadow: 5px 10px 10px #62693d;
		display: flex;
		// flex-wrap: wrap-reverse;

text-align: center;
justify-content: center;
width: 501px;
	background-image: url(abc.jpg);
	background-position: center;
	background-attachment: fixed;

	flex-direction: column;
	input[type="submit" i]{background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;}

		a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
		width: 40%;
		border: 1px solid black;

}


a:hover, a:active {
    background-color: red;
		border: 1px solid black;
}

h2{
	background-color: green;
	margin-top: 0;
	padding: 10px;
	// color: white;
}

.field{
	label{
	font-weight: bold;
	// margin: 100px;
	}}

.linkto{
	margin-top: 50px;
	display: flex;
	border: 1px solid black;
}
.linkto-login{
	margin-top: 50px;
	// display: flex;
a:link{	width: 90%;
// overflow: hidden;
}
	border: 1px solid black;
}
}	}












	#common-header{
		background-color: black;
		display: flex;
		justify-content: space-around;
		box-shadow: 1px 1px 1px 1px lightgrey;
		position: fixed;
    width: 100%;
    margin-bottom: 20px;

		.logo{
			width: 40%;
			text-align: left;
		}

		.auth-info-links{
			width: 40%;
			text-align: right;
			color: white;

			display: flex;
			justify-content: flex-end;

			p:first-child{
				margin-right: 15px;
				color: white;
			}
			a:-webkit-any-link {
			    color: white;
			    cursor: pointer;
			    text-decoration: underline;
			}
		}

	}

}
