// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#posts-home{

	display: flex;
	justify-content: space-evenly;
	padding-top: 25px;
	background-color: #3E3C30;
background-image: url(depositphotos_2614484-stock-photo-old-style-grunge-background.jpg);
	.group-links{
		width: 28%;
		// background-color: #880c0c;
		border-radius: 1%;
background-image: url(scroll.png);
		h4{
			// background-color: green;
      text-align: center;
			margin: 10px;
			border-radius: 11%;
			    color: #272619;

      font-size: 30px

		}
	}

	.deewar-posts{
		width: 50%;
		border-right: 1px dashed #007effe0;
		border-left: 1px dashed #007effe0;

		.new-post-form{
			display: flex;
			justify-content: center;
			width: 90%;
background-color: #131315;
margin-left: 5%;
padding: 10px;
// flex-direction: column;




			form{
			display: flex;
				flex-direction: column;
				label{color: white;text-align: center;}
				textarea {
    width: 700px;
    height: 150px;
    background-color: #000000;
    border-radius: 3%;
    border-color: transparent;
    color: white;
}
input[type="submit" i]{
	background-color: transparent;
    border-color: transparent;
    text-align: right;
    color: #cecece;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}




			}

		}

		.posts-list{
list-style: none;
color: gray;
.post-form{
	display: flex;
	justify-content: center;
	width: 90%;
background-color: #131315;
// margin-bottom: 40px;
// margin-left: 5%;
flex-direction: column;
padding: 10px;
// justify-content: space-around;
.email-bold{
	font-weight: bold;
	font-size: 24px;
}
.link-tos{
	color: white;
display: flex;
justify-content: space-around;
border: 1px solid black;
    background-color: #0C0C14;
		.some-distance{
			display:flex;
			justify-content: space-around;
		}
		a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
}
}

.comments{margin-bottom: 40px;
margin-left: 0px;
overflow: hidden;
padding-top: 30px;

textarea{
	align-self: center;
}

a:-webkit-any-link {
		color: white;
		cursor: pointer;
		text-decoration: underline;
}


}

		}
	}

}









//
//
//
//
//
//
//
//
//
//
//
//
//
//
// // Place all the styles related to the posts controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
//
//
// #posts-home{
//
// 	display: flex;
// 	justify-content: space-evenly;
// 	padding-top: 25px;
// 	background-color: #3E3C30;
//
// 	.group-links{
// 		width: 28%;
// 		// background-color: #880c0c;
// 		border-radius: 1%;
// background-image: url(scroll.png);
// 		h4{
// 			// background-color: green;
//       text-align: center;
// 			margin: 10px;
// 			border-radius: 11%;
// 			    color: #272619;
//
//       font-size: 30px
//
// 		}
// 	}
//
// 	.deewar-posts{
// 		width: 50%;
// 		border-right: 1px dashed #007effe0;
// 		border-left: 1px dashed #007effe0;
//
// 		.new-post-form{
// 			display: flex;
// 			justify-content: center;
// 			width: 90%;
// background-color: #131315;
// margin-left: 5%;
// // flex-direction: column;
//
//
//
//
// 			form{
// 			display: flex;
// 				flex-direction: column;
// 				label{color: white;text-align: center;}
// 				textarea {
//     width: 700px;
//     height: 150px;
//     background-color: #000000;
//     border-radius: 3%;
//     border-color: transparent;
//     color: white;
// }
// input[type="submit" i]{
// 	background-color: transparent;
//     border-color: transparent;
//     text-align: right;
//     color: #cecece;
//     font-size: 18px;
//     text-decoration: underline;
//     font-weight: bold;
// }
//
//
//
//
// 			}
//
// 		}
//
// 		.posts-list{
// list-style: none;
// color: gray;
// .post-form{
// 	display: flex;
// 	    margin-bottom: 40px;
// 	justify-content: center;
// 	width: 90%;
// background-color: #131315;
// // margin-left: 5%;
// flex-direction: column;
// // justify-content: space-around;
// .email-bold{
// 	font-weight: bold;
// 	font-size: 24px;
// }
// .link-tos{
// 	color: white;
// display: flex;
// justify-content: space-around;
// border: 1px solid gray;
//
// }}
//
//
//
// 		}
// 	}
//
// }
